/******************************
            Globals
******************************/

body {
    font-family: 'FiraSans';
    background: whitesmoke;
    margin: 20px;
}
.paddingTB {
    padding-top: 20px;
    padding-bottom: 20px;
}
.marginTB {
    margin-top: 20px;
    margin-bottom: 20px;
}