/******************************
        Globals
******************************/
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,600,900&amp;subset=latin-ext);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "FiraSans";
  margin: 0;
  background: #f5f5f5;
}

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  min-height: 1px;
  width: 100%;
  padding: 12px;
  float: left;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* LOGO & MENU */
header {
  background-color: #313332;
  height: auto;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  float: none;
  width: 100%;
}

nav a {
  display: inline-block;
  padding: 0 20px;
  color: #f5f5f5;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  width: 100%;
}

nav a:hover {
  background-color: #00c7e8;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}

.hero {
  background-image: url(https://bcwtuw.db.files.1drv.com/y4m8gheGgnLJSXz1b-hv1KVjHbbry5gwm0N2yHOSF2yXg_udcem1QL508TnAiyUb1jigETPdKkcPmXu2EVN544yr8-1qUjVeacq5ztEaeRlNy3yu_Pev5642evCpRqaCsCsbbRB434y9h13dUXgTQJhfAFPPNqjcvXGUGb-fedK5MOsd_NEnGLPqThWU6izogyg8XYVspVf5Xrz-nLqf4G7PA?width=1600&height=500&cropmode=none);
  height: 75vh;
  background-size: cover;
  padding: 0;
  margin: 0 auto;
}

.slogan {
  margin-top: 75px;
  background-color: rgba(63, 63, 63, 0.714);
  float: right;
  max-width: 800px;
  padding: 10px;
  text-align: right;
}

.slogan h1, h2 {
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.slogan h1 {
  font-weight: 600;
}

.icon {
  padding: 35px 0 0 0;
  width: 150px;
  height: 150px;
  text-align: center;
  border: 0 #f5f5f5;
  border-radius: 15%;
  background-color: #313332;
  font-size: 75px;
  color: #f5f5f5;
}

.icontain {
  text-align: center;
  margin: 15px 0;
}

.icontain h3 {
  margin: 25px;
  color: #313332;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
}

.icontain p {
  font-weight: 300;
  margin-top: 25px;
  color: #313332;
}

.custom_heading h1 {
  padding: 0;
  margin: 0 auto;
  color: #313332;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 48px;
  font-weight: 600;
  text-align: center;
}

.custom_heading p {
  color: #313332;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

/* /* GALLERY  */
.image {
  /* width: 100%; */
  background-image: url(https://bcwouw.db.files.1drv.com/y4m4sIwzSRyB5vuiKvr67ITSfPe-w3iGby-WFsK8r6Z-VsrXEKcu26ZBa4H9wK0JnkZs5hDIx-U0CDArazmLvXUaEQgoRRakh3N_60Yc8XCxLxBdmPTT-6q3KnvwJXQ-eXplZhs_TrQx5d3yuDhfnofKc6qCLD_pS6CXeU750cKqr0_BfhS5whDjWIDYyzVnv9aiUKmmgiWo57ukUyHWWUfGg?width=300&height=200&cropmode=none);
  height: 150px;
  background-size: cover;
  padding: 0;
  border: 1px solid #f5f5f5;
}

.transparent_layer {
  visibility: visible;
  margin: 0 auto;
  font-size: 10px;
  height: 150px;
  text-align: center;
  padding: 50px;
}

.transparent_layer i {
  color: #f5f5f5;
  background-color: #00c7e8;
  border: 0 #f5f5f5;
  border-radius: 15%;
  padding: 10px;
  margin: 5px;
}

/* TEAM CIRCLES 
*/
.teams {
  padding: 0;
  margin: 50px;
}

.team_icon {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  border: 0;
}

.team_icon h3 {
  font-weight: 600;
  color: #313332;
  font-size: 30px;
}

.team_icon img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.team_icon .img_place {
  display: block;
  padding: 0;
  margin: 0 auto;
  border: 0;
  width: 200px;
  height: 200px;
  position: relative;
  text-align: center;
}

.team_icon .img_place span {
  visibility: collapse;
}

.team_icon:hover .img_place {
  background-color: black;
  border-radius: 50%;
}

.team_icon:hover img {
  opacity: 0.8;
}

.team_icon:hover .img_place span {
  padding: 0;
  margin: 0 auto;
  border: 0;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 45%;
  left: 0;
  text-align: center;
  visibility: visible;
  color: #f5f5f5;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.baner {
  background-color: #313332;
  padding: 50px 0 0 0;
}

.baner img {
  margin: 0 auto;
  width: 100%;
}

.baner h1 {
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0 20px;
}

.baner p {
  font-weight: 300;
  color: #f5f5f5;
  font-size: 18px;
  margin: 0 20px;
}

/* NUMBERS 
*/
.numbers {
  text-align: center;
}

.numbers h1 {
  color: #313332;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 40px;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.numbers p {
  font-weight: 500;
  color: #00c7e8;
  font-size: 24px;
  text-transform: uppercase;
}

/* FOOTER
*/
footer {
  text-align: center;
  background-color: #313332;
  color: #f5f5f5;
}

.box {
  padding: 20px;
  margin: 0;
  border: 0;
  position: relative;
}

.box h1 {
  display: inline-block;
  font-size: 40px;
}

.box hr {
  display: inline-block;
  width: 25%;
  max-width: 75px;
  margin-left: 10px;
  border: 1px solid #f5f5f5;
}

footer > .row > [class*="col-"] {
  text-align: left;
}

.social i {
  margin: 10px;
  text-align: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 20px;
  background-color: #00c7e8;
}

.copy {
  background-color: black;
  text-align: center;
}

.copy p {
  text-align: center;
  padding: 10px;
}

/***************************************************************
For MOBILE 
****************************************************************/
@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  /* LOGO & MENU */
  nav li {
    display: block;
    width: 100%;
  }
  /***************************************************************
END OF MOBILE 
****************************************************************/
}

/***************************************************************
START OF TABLETS 
****************************************************************/
@media (min-width: 768px) and (max-width: 1199px) {
  /* For desktop: */
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
  /* LOGO & MENU */
  nav li {
    display: inline-block;
  }
  /***************************************************************
END OF TABLETS 
****************************************************************/
}

/***************************************************************
START OF DESKTOP 
****************************************************************/
@media (min-width: 1200px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  [class*="col-"] {
    min-height: 1px;
    padding: 0;
    float: left;
  }
  /* LOGO & MENU */
  header {
    height: 60px;
  }
  nav {
    text-align: right;
  }
  nav img {
    float: left;
    padding-top: 10px;
  }
  nav ul {
    float: right;
    width: 100%;
  }
  nav li {
    display: inline-block;
  }
  nav a {
    height: 60px;
    line-height: 60px;
    display: inline-block;
  }
  .slogan {
    margin-top: 75px;
    background-color: rgba(63, 63, 63, 0.714);
    float: right;
    max-width: 800px;
    padding: 10px;
    text-align: right;
  }
  .icontain {
    margin: 40px 0;
  }
  /* /* GALLERY  */
  .image {
    border: none;
  }
  .image .transparent_layer {
    visibility: collapse;
  }
  .image:hover .transparent_layer {
    background-color: rgba(63, 63, 63, 0.714);
    visibility: visible;
    margin: 0 auto;
    font-size: 10px;
    height: 150px;
    text-align: center;
    padding: 50px;
  }
  /* FOOTER
*/
  .social {
    padding-top: 20px;
  }
  /***************************************************************
END OF DESKTOP 
****************************************************************/
}
