/******************************
            Globals
******************************/

body {
    font-family: 'FiraSans';
    background: whitesmoke;
    padding-top:50px;
}
.paddingTB {
    padding-top: 20px;
    padding-bottom: 20px;
}
.paddingT {
    padding-top: 20px;
}
.paddingB {
    padding-bottom: 20px;
}
.marginTB {
    margin-top: 20px;
    margin-bottom: 20px;
}
.marginT {
    margin-top: 20px;
}
.marginB {
    margin-bottom: 20px;
}
.jumbotron {
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */   
    }
.imgZajawa {
    width: 100%;
    height: 300px;
}