/******************************
            Globals
******************************/

body {
    font-family: 'FiraSans';
    background: whitesmoke;
    padding-top:50px;
}
.paddingTB {
    padding-top: 20px;
    padding-bottom: 20px;
}
.paddingT {
    padding-top: 20px;
}
.paddingB {
    padding-bottom: 20px;
}
.marginTB {
    margin-top: 20px;
    margin-bottom: 20px;
}
.marginT {
    margin-top: 20px;
}
.marginB {
    margin-bottom: 20px;
}
.dropdown {
padding-top:10px;
}
