/******************************
            Globals
******************************/

*   {
    box-sizing: border-box;
}
body {
    font-family: 'FiraSans';
    margin: 0; 
    background: whitesmoke;
}
.container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: flex-end;
}
/* LOGO & MENU */
header {
    background-color: #313332;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}
header a {
    padding: 0 20px;
    color: white;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase; 
    width: 100%;
}
header a:hover {
    background-color: #00c7e8;
    transition: background 1s ease;
}
header ul {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
}
.jumbotron {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://bcwtuw.db.files.1drv.com/y4m8gheGgnLJSXz1b-hv1KVjHbbry5gwm0N2yHOSF2yXg_udcem1QL508TnAiyUb1jigETPdKkcPmXu2EVN544yr8-1qUjVeacq5ztEaeRlNy3yu_Pev5642evCpRqaCsCsbbRB434y9h13dUXgTQJhfAFPPNqjcvXGUGb-fedK5MOsd_NEnGLPqThWU6izogyg8XYVspVf5Xrz-nLqf4G7PA?width=1600&height=500&cropmode=none);
    height: 75vh;
    background-size: cover;
}
.slogan {
    background-color: rgba(63, 63, 63, 0.714);
    max-width: 800px;
    padding: 10px;
    text-align: center;
}
.slogan h1, h2 {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}
.slogan h1 {
    font-weight: 600;
} 
.gallery {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
}
.gallery img {
    margin: 10px;
}
.cards {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
}
.cards>div {
    min-width:200px;
    max-width:400px;
    border: 2px black solid;
    margin: 5px;
    padding: 10px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
footer {
    text-align: center;
    background-color: #313332;
    color: whitesmoke;
    display: flex;
    display: -webkit-flex;
}  
.copy {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    padding:10px;
}
.adres {
    flex-grow: 2;
    padding:10px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.firm {
    background-color: black;
    text-align: center;
    padding:10px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}