* {
    box-sizing: border-box;
}
.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}
[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 10px;
}
/* Column widths */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Column offsets */
.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.cats {
    background-image: url(https://bcwouw.db.files.1drv.com/y4m4sIwzSRyB5vuiKvr67ITSfPe-w3iGby-WFsK8r6Z-VsrXEKcu26ZBa4H9wK0JnkZs5hDIx-U0CDArazmLvXUaEQgoRRakh3N_60Yc8XCxLxBdmPTT-6q3KnvwJXQ-eXplZhs_TrQx5d3yuDhfnofKc6qCLD_pS6CXeU750cKqr0_BfhS5whDjWIDYyzVnv9aiUKmmgiWo57ukUyHWWUfGg?width=300&height=200&cropmode=none);
    border: 5px solid #d2d;
    padding: 10px;
    height: 200px;
}
.cats h2 {
    font-family: 'Quicksand';
    color: aliceblue;
    background-color: rgba(116, 27, 199, 0.75);
    font-size: 20px;
}
.logo {
background-color: blueviolet;
height: 100px;
}
.menu {
    background-color: rgb(179, 154, 202);
    height: 100px;
}
.menu_login {
    background-color: rgb(227, 214, 240);
    height: 100px;
}
footer {
    background-color: rgb(255, 172, 255);
    height: 100px;
}