body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
header {
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: #f39c12;
    color: #fff;
    background-image: url(https://ayx4rg.db.files.1drv.com/y4m1JUJ6jIzQh1fjVquTgdWfKpdw8FQsRf8r1WrHMzF7LcSZhKLcXUScximlOXyabqxjPQ-vp0xSKiUi4RBK5sK01R8-2CA9mKlww3Tall1lhEhuPiOUXnoiTeWCCooqJqyAXK4G3XWg6wTk-siXZWKeLGbRutzqEy0GxtPTN_BHg__gk12Bm7pywxf_lTm6d3sWJV5BuQO9iig9g-gCczwog?width=1920&height=600&cropmode=none);
    background-position: center;
    max-height: 450px;
}
header h1 {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 10px;
}
header h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
.content {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 50px;
}
.section {
    padding: 0 20%;
}
.interests a {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #19a8eb;
}
.interests h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight:600;
    color: #10709c;
    font-style: italic;
    font-size: 28px;
}
.interests p, .interests li {
    color: rgb(58, 58, 58);
}
.work h2 {
    font-size: 28px;
    margin-top:40px;
    color: #f39c12;
}
.life h2 {
    font-size:28px;
    margin-top:40px;
    color: #e653f3;
}
footer {
    margin: 0 auto;
    background-color: #000000;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 50px;
}
footer p {
    color: #FFF;
}
footer a {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #e653f3; 
}