body {
    font-family: "Quicksand"; 
    margin: 50px; 
    background: rgb(165, 165, 165);
}
h2 {
    color: #505050;
    font-size: 40px;
}
.social {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    padding: 50px;
    background-color: rgb(194, 194, 194);
}
.icon-btn {
    width: 75px;
    height: 75px;
    border: 0 #ffffff;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
}

.twitter {
    color: #4099FF;
} 
.facebook {
    color: #3B5998;
} 
.google-plus {
    color: #DB5A3C;
} 
.instagram {
    color :#5C3D2E;
} 
.github {
    color: #4183C4;
} 
.icon-btn:hover {
    transform: scale(1.20);
    color: white;
    transition: ease-in-out .2s;
}
.twitter:hover {
    background-color: #4099FF;
} 
.facebook:hover {
    background-color: #3B5998;
} 
.google-plus:hover {
    background-color: #DB5A3C;
} 
.instagram:hover {
    background-color :#5C3D2E;
} 
.github:hover {
    background-color: #4183C4;
}