body {
    font-family:"Quicksand", Arial, Helvetica, sans-serif;; 
    margin: 0; 
    background: lightblue;
}

/* LOOK AND FEEL FOR MENU's 1st LVL  */
ul {
    padding: 0px;
    list-style-type: none;
}
nav {
    background-color: #4577ED;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: white;
    text-decoration: none;
}
nav a:hover {
    background-color: #3255a7;
    transition: background 2s ease;
}

/* LOOK AND FEEL FOR MENU's 2nd LVL  */
nav ul ul li {
    display: block;
}
nav ul ul {
    display: none;
}
nav li:hover ul {
display: block;
position: absolute;
background-color: #4577ED;
}
nav li ul a {
    display: block;
    width: 100%;
    background-color: red;
}
